.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  margin-right: 20px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  transition: color 0.3s ease-in-out;
}

.nav a:hover {
  color: #61dafb;
}

.Foot-pic {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.Gallery-div {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: darkslategray;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.Gallery-div h2 {
  text-align: center;
  font-family: 'Playfair Display', sans-serif;
}

.Gallery-div div {
  margin-bottom: 20px;
  padding: 10px;
  background-color: darkslategrey;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.Gallery-div h3 {
  margin-top: 0;
  font-family: 'Georgia', sans-serif;
}

.Gallery-photos {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.Gallery-div p {
  margin-bottom: 10px;
  color: antiquewhite;
  font-family: 'Georgia', sans-serif;
}

.Gallery-div button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.TankCalculator {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: darkslategrey;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.TankCalculator h2 {
  text-align: center;
  font-family: 'Playfair Display', sans-serif;
}

.TankCalculator div {
  margin-bottom: 20px;
}

.TankCalculator label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-family: 'Georgia', sans-serif;
}

.TankCalculator select,
.TankCalculator input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.TankCalculator button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.TankCalculator p {
  margin-top: 10px;
  font-family: 'Georgia', sans-serif;
}

.home h1 {
  text-align: center;
  font-family: 'Playfair Display', sans-serif;
}